@font-face {
    font-family:'Noto Sans KR', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
}
html, body {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    font-family:'Noto Sans KR', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
p {
	 font-weight: bold;
}
.side-bar {
    width: 400px;
    height: 100vh;
    border-right: 2px solid gray;
}

.side-bar .profile {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: #ffffff;
}

.profile .picture {
    width: 200px;
    height: 200px;
    position: relative;
}
.profile .picture img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.set{
    width: 35px;
    height: 35px;
    position: absolute;
    left: 85%;
    top: 5%;
    border-radius: 50%;
    border: 1px solid #cecece;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.set img {
    width: 80%;
    height: 80%;
    filter: invert(0.5);
}
.profile .name {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
.profile .logout {
    position: absolute;
    bottom: 25px;
}
.menu_bar {
    display: flex;
    flex-direction: column;
    background-color: #FFFEE2;
}
.menu_bar > div {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}


.menu_bar > span > a {
    display: block;
    padding: 30px;
}


.menu_bar .sub_menu {
    width: 100%;
    height: 160px;
    flex-direction: column;
    display: none;
}

.menu_bar .sub_menu.active {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    
}
.menu_bar .sub_menu span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    box-sizing: border-box;
}
.regist > a {
    padding-bottom: 10px;
    box-sizing: border-box;
}
.menu_bar .sub_menu:nth-of-type(1) {
    height: 120px;
}
.menu_bar .sub_menu:nth-of-type(2) {
    height: 200px;
}
.menu_bar .sub_menu:nth-of-type(3) {
    height: 120px;
}

.main {
    height: 100vh;
    
}

.main .wrap {
    width: 50%;
    height: 85vh;
    display: flex;
    border: 2px solid lightgrey;
    border-radius: 10px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFEE2;
}
.main .wrap .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.wrap .content {

    height: 75%;
    display: flex;
    flex-direction: column;
}
.wrap .content label {
    display: flex;
    align-items: center;
    width: 350px;
    position: relative;
    transform: scale(1.5);
    margin: 40px 0;
}
.wrap .content input {
    position: absolute;
    right: 0;
    width: 220px;
    height: 25px;
}
.wrap .content select {
    position: absolute;
    right: 0;
    width: 228px;
    height: 30px;
    text-align: center;
}

.wrap .button {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.wrap button {
    width: 150px;
    height: 100%;
    background-color: #fff;
    border: 2px solid #FFF282;
    font-size: 1.2em;
    font-weight: 600;
}