@font-face {
    font-family:'Noto Sans KR', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
}
html, body {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    font-family:'Noto Sans KR', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
p {
	 font-weight: bold;
}
.side-bar {
    width: 400px;
    height: 100vh;
    border-right: 2px solid gray;
}

.side-bar .profile {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: #ffffff;
}

.profile .picture {
    width: 200px;
    height: 200px;
    position: relative;
}
.profile .picture img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.set{
    width: 35px;
    height: 35px;
    position: absolute;
    left: 85%;
    top: 5%;
    border-radius: 50%;
    border: 1px solid #cecece;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.set img {
    width: 80%;
    height: 80%;
    filter: invert(0.5);
}
.profile .name {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
.profile .logout {
    position: absolute;
    bottom: 25px;
}
.menu_bar {
    display: flex;
    flex-direction: column;
    background-color: #FFFEE2;
}
.menu_bar > div {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}


.menu_bar > span > a {
    display: block;
    padding: 30px;
}


.menu_bar .sub_menu {
    width: 100%;
    height: 160px;
    flex-direction: column;
    display: none;
}

.menu_bar .sub_menu.active {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    
}
.menu_bar .sub_menu span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    box-sizing: border-box;
}
.regist > a {
    padding-bottom: 10px;
    box-sizing: border-box;
}

.menu_bar .sub_menu:nth-of-type(1) {
    height: 100px;
}
.menu_bar .sub_menu:nth-of-type(2) {
    height: 120px;
}
.menu_bar .sub_menu:nth-of-type(3) {
    height: 200px;
}
.menu_bar .sub_menu:nth-of-type(4) {
    height: 160px;
}
.main {
	width: 75vw;
    height: 100vh;
    margin:0 auto;
}

.main > h2{

    height: 50px;
    margin: 80px 0 0 50px;
   
}

.main .wrap {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    margin: 0 0 30px 10px;
}

.content {
    width: 100%;
    display:flex;
    flex-direction: column;
    
}

.yellow_nav {
    background-color: #FFFEE2;
}

.yellow_nav > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    border-bottom: 1px solid black;
}

.yellow_nav #search {
    position: absolute;
    left: 100px;
}

#address_search {
    width: 200px;
    height: 27px;
    left: 100px;
    border: 3px solid #FFF282;
}
.yellow_nav .icon {
    position: absolute;
    width: 25px;
    height: 20px;
    right: 5px;
    bottom: 5px;
    margin: 0;
    border: none;
}

.fa-regular {
    font-size: 20px;
}

.yellow_nav .button {
    position: absolute;
    right: 50px;
    margin-left: 300px;
    
}
.yellow_nav button {
    margin: 0 10px 0 50px;
   padding: 0 20px;
   border: 3px solid #FFF282;
   background : #fff;
   font-weight: 600;
    
}
.yellow_nav .bottom {
    position:relative;
}
.yellow_nav .bottom input {
    position: absolute;
    left: 31px;
}

.yellow_nav .bottom input[type=checkbox] {
    transform: scale(1.3);
}


.yellow_nav .bottom .menu{
    

}

.yellow_nav .bottom .menu span {
    padding: 0 70px;
    font-weight: bold;
}

.content .address {
	display:flex;
	flex-direction: column;
	height: 100%;
	width:100%;
}

.user {
	position:relative;
}
.user input {
	display:block;
	
}
.user input[type=checkbox]{
	transform: scale(1.3);
	position:absolute;
	left: 30px;
	
}
.dept_bar .expand-box {
    width: 12px;
    display:inline;
    height: 12px;
    margin: 0 20px 0 80px;
    position: relative;
}

.dept_bar .expand-box  div {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform: translate(0 ,-20%);
}

/* .dept_bar .expand-box  div:nth-child(2) {
    transform: rotate(0);
}

.dept_bar .expand-box:hover  div:nth-child(2) {
    transform: rotate(450deg);
    transition: 0.5s;
}  */

.dept_bar input[type=checkbox] {
    transform: scale(1.3);
}
.dept_bar .dept {
    margin-left: 25px;
}
.content .address .user {
    display: flex;
    flex-direction: column;
}
.content .address .user .active {
	display:none;
}
.content .address .user > div {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.user > div span {
	width:195px;
	text-align: center;
	
}
 .user > div span:nth-of-type(1) {
}
.user > div span:nth-of-type(2) {
	width:190px;
	padding-right: 5px;
	
}
.user > div span:nth-of-type(3) {
	padding-left: 5px;
	padding-right: 5px;
}
.user > div span:nth-of-type(4) {
	
	padding-right: 10px;
}
.user > div span:nth-of-type(5) {
	
}


.number {
    position: absolute;
    width: 300px;
    height: 40px;
    border: 1px solid black;
    left: 50% calc(-50%);
    bottom: 30px;  
}
.searchUser {
	width: 500px;
    height: 550px;
    padding: 0 20px;
    box-sizing: border-box;
    border: 1px solid black;
    position: absolute;
    background: #fff;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow-y: scroll;
}
.searchUser::-webkit-scrollbar {
	display: none;
}
.searchUser h3 {
	text-align: center;
}
.searchUser #share_btn {
	position : absolute;
	right: 20px;
	bottom: 20px;
}
.searchUser .bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	padding : 10px;
	background:#FFFEE2;
}
.searchUser .bottom .menu {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.searchUser .bottom .menu span {
	font-weight: bold;
}
#sharedBtn {
	position:absolute;
}
.searchWrap {
	display:flex;
	justify-content: center;
	padding : 10px;
	background:#FFFEE2;
	border-bottom: 1px solid black;
}
.searchWrap select,
.searchWrap input{
	margin-right: 10px;
	border: 3px solid #FFF282;

}


.pagingArea button {
	background-color:#FFF282;
	color:black;
	font-weight:bold;
	border: none;
	cursor: pointer;
}
#searchCondition {
	height:27px;
	border: 3px solid #FFF282;
}
.sharingAddressList .user > div {
	padding : 10px;
	box-sizing : border-box;
	display: flex;
}
.sharingAddressList .user span {
	margin-left: 15px;
	
}
.sharingAddressList .user span:nth-of-type(1) {
	margin-left: 20px;
}
.sharingAddressList input[type=checkbox] {
	transform: scale(1);
	left : 10px;
}
.shareBtn > button,
#searchBtn {
    padding: 0 20px;
    border: 3px solid #FFF282;
    background : #fff;
    font-weight: 600;
}

.shareBtn {
	position: absolute;
	right : 20px;
	bottom : 20px;
	margin: 0 10px 0 50px;
}

#shareBtn {
	margin: 0 10px 0 50px;
}
button {
	cursor: pointer;
}
.content .address .user.active {
	display:flex;
}