@charset "UTF-8";


body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.si {
    color: #c7c7c7;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: 1px solid #e1e1e1;

}
.profile{
    margin-top: 50px;
    position: relative;
}
.img {
    width: 200px;
    height: 200px;
    background: yellow;
    border-radius: 50%;
    overflow: hidden;
}
.img img{
    width: 100%;
    height: 100%;
}
.set{
    width: 35px;
    height: 35px;
    position: absolute;
    left: 85%;
    top: 5%;
    border-radius: 50%;
    border: 1px solid #cecece;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.set img {
    width: 80%;
    height: 80%;
    filter: invert(0.5);
}
.profile p {
    font-weight: bold;
}
.profile span {
    font-size: 0.9em;
    color: #3a3a3a;
    display: block;
    margin-bottom: 30px;
}
.profile a {
    display: block;
}
.menu{
    width: 100%;
}
.menu div{
    height: 75px;
    background: #FFFEE2;
    padding-top: 30px;
    box-sizing: border-box;
    border: 1px solid #fff3cc;
}
.menu div:nth-child(5){
    background: #ffec53;
}
.menu .sub-menu{
    height: 170px;
    background: #fff;
    padding: 0;
    display: none;
}
.menu .sub-menu.active{
    display: block;
}

/*  section */


.sectionBox{
    flex: 1;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;

}

.radioBoxMenu {
    width: 250px;
    position: absolute;
    z-index: 10;
    margin: 2px 0 0 370px;
}
label {
    font-size: 20px;
    margin-top : 20px;
}

input[type="radio"] {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid #c5c5c5;
    appearance: none;
    cursor: pointer;
    transition: background 0.4s;
    padding-top: 0;
    display: inline-block;
    margin-bottom: -6px;

}

input[type="radio"]:nth-child(2):checked {
    background: #fced93;
    border: none;
}
input[type="radio"]:nth-child(4):checked {
    background: lightskyblue;
    border: none;
}


.classDay {
    width: 50px;
    margin: 0 0 0 1200px;
    padding: 5px;
    font-weight: normal;
    font-size: 16px;
    background: #fff7c1;
    border: 1px solid #fae345;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    z-index: 999;
}
.classDay:nth-child(1) {
    width: 50px;
    margin-left: 910px;
    cursor: pointer;
}
.classDay:nth-child(2) {
    width: 50px;
    margin-left: 980px;
    cursor: pointer;
}
.classDay:nth-child(3) {
    width:50px;
    margin-left: 1050px;
    cursor: pointer;
}



#submenu01 {
    width: 350px;
    height: 200px;
    margin: 280px 0 0 570px;
    background: #ffffff;
    position: absolute;
    border-radius: 10px;
    border: 1px solid #8d8d8d;
    display: none;
    z-index: 9999;
}

#submenu01 > h3 {
    color: #000;
    text-align: center;
    padding-top: 55px;
    font-size: 16px;
    font-weight: bold;
}
#submenu01 .check {
    display: flex;
    margin-top: 20px;
    text-align: center;
}

#submenu01 li {
    width: 35px;
    height: 25px;
    font-size:16px;
    background: #fff;
    padding: 3px 20px;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
    margin-left: 50px;
}
#submenu01 li:nth-child(2) {
    margin-left: 20px;
}
#submenu01 li a {
}




#submenu02 {
    width: 350px;
    height: 200px;
    margin: 280px 0 0 570px;
    background: #ffffff;
    position: absolute;
    border-radius: 10px;
    border: 1px solid #8d8d8d;
    z-index: 9999;
    display: none;
}
#submenu02 > h3 {
    color: #000;
    text-align: center;
    padding-top: 50px;
    font-size: 16px;
    font-weight: bold;
}
#submenu02 .check {
    margin-top: 30px;
    text-align: center;
}

#submenu02 li {
    width: 35px;
    height: 25px;
    font-size:16px;
    background: #fff;
    padding: 3px 20px;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
    margin-left:95px;
}

#submenu02 li a {
}
<!--

#external-events {
    display: none;
}



#calendar-container {
    position: relative;
    z-index: 1;
    font-size: 14px;
}


#calendar {
    max-width: 1100px;
    margin: 20px auto;

}
