body{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: 1px solid #e1e1e1;
}
.profile{
    margin-top: 50px;
    position: relative;
}
.img {
    width: 200px;
    height: 200px;
    background: yellow;
    border-radius: 50%;
    overflow: hidden;
}
.img img{
    width: 100%;
    height: 100%;
}
.set{
    width: 35px;
    height: 35px;
    position: absolute;
    left: 85%;
    top: 5%;
    border-radius: 50%;
    border: 1px solid #cecece;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.set img {
    width: 80%;
    height: 80%;
    filter: invert(0.5);
}
.profile p {
    font-weight: bold;
}
.profile span {
    font-size: 0.9em;
    color: #3a3a3a;
    display: block;
    margin-bottom: 30px;
}
.profile a {
    display: block;
    margin-bottom: 30px;
}

.menu{
    width: 100%;
}
.menu div{
    height: 80px;
    background: #FFFEE2;
    padding-top: 30px;
    box-sizing: border-box;
}
.menu div:nth-child(4){
    background: #FFF282;
}
.menu .sub-menu{
    height: 180px;
    background: #fff;
    padding: 0;
    display: none;
}
.menu .sub-menu.active{
    display: block;
}

.section{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
}
.section article{
    flex: 1;
    /*border: 1px solid #bdbdbd;*/
    /*border-radius: 20px;*/
}
.board1{
    /*width: 1300px;*/
    border: 1px solid #bdbdbd;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 20px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.board2{
    /*width: 1300px;*/
    border: 1px solid #bdbdbd;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 20px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.board-content {
    display: flex;
    justify-content: space-between;
}
.board-title {
    /*border: 1px solid crimson;*/
}
.board-date {
    /*border: 1px solid crimson;*/
}

.board-title a,
.board-date a{
    display: block;
    margin-bottom: 10px;
    /*border: 1px solid orange;*/
}


.tap-btn {
    display: flex;
    padding: 0 10px;
    /*border: 2px solid crimson;*/
}
.tap-btn li {
    flex: 1;
    width: 120px;
    text-align: center;
    border-right: 1px solid #ececec;
    background: #f6f6f6;
    padding: 5px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}
/*.tap-btn li:hover,*/
.tap-btn li.active{
    background: #fff;
    border-bottom: 5px solid #FFFEE2;
}

.tabs {}
.tabs > div {
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: none;
}
.tabs > div h2{
    text-align: center;
}
.tabs article {
    display: flex;
}


.tabs p{
    flex: 3;
    padding: 25px 10px;
    /*border: 2px solid dodgerblue;*/
}
.tabs > div.active {
    display: block;
}
