@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

body{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: 1px solid #e1e1e1;
}
.profile{
    margin-top: 50px;
    position: relative;
}
.img {
    width: 200px;
    height: 200px;
    background: yellow;
    border-radius: 50%;
    overflow: hidden;
}
.img img{
    width: 100%;
    height: 100%;
}
.set{
    width: 35px;
    height: 35px;
    position: absolute;
    left: 85%;
    top: 5%;
    border-radius: 50%;
    border: 1px solid #cecece;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.set img {
    width: 80%;
    height: 80%;
    filter: invert(0.5);
}
.profile p {
    font-weight: bold;
}
.profile span {
    font-size: 0.9em;
    color: #3a3a3a;
    display: block;
    margin-bottom: 30px;
}
.profile a {
    display: block;
    margin-bottom: 30px;
}
.menu{
    width: 100%;
}
.menu div{
    height: 80px;
    background: #FFFEE2;
    padding-top: 30px;
    box-sizing: border-box;
}
.menu div:nth-child(4){
    background: #FFF282;
}
.menu .sub-menu{
    height: 180px;
    background: #fff;
    padding: 0;
    display: none;
}
.menu .sub-menu.active{
    display: block;
}
.section{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px;
    box-sizing: border-box;
    position: relative;
}

.section h2 {
    font-size: 2em;
}
.select select {
    width: 200px;
    height: 30px;
}
.board-title{
    display: flex;
    align-items: center;
}
.board-title input {
    width: 200px;
    height: 20px;
}
.board-file {
    display: flex;
    align-items: center;
}
/*.board-file .drag {*/
/*    width: 500px;*/
/*    height: 200px;*/
/*    border: 1px dashed black;*/
/*}*/
.contents {
	width:100%;
    height: 500px;
    border: 1px solid #c9c9c9;
}
.btn-bar {
    position: absolute;
    right: 10%;
    top: 90%;
}
button {
    margin-left: 20px;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
}