#EDEDED@font-face {
    font-family:'Noto Sans KR', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
}
html, body {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    
}
a {
    text-decoration: none;
    color: black;
}

.commitMain {
    width: 60vw;
    height: 80vh;
    margin: 0 auto;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.commitMain .wrap {
    height: 90vh;
    border: 3px solid lightgrey;
    margin: 50px 0 50px 50px;
    background-color: #FFFEE2;
    /* overflow: hidden; */
}

.wrap  h2{
    text-align: center;
    height: 50px;
    margin: 30px 0 0 30px;
    font-size: 1.8rem;
}
.x-box {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
}
.x-box div {
	width: 100%;
	height: 2px;
	background: black;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);	
}
.x-box .one {
	transform: rotate(45deg);
}
.x-box .two {
	transform: rotate(135deg);
}
.commitContent {
    width: 85%;
    height: 700px;
    margin: 30px auto 0;
}

.commitContent .top {
    width: 100%;
    height: 30%;
    background-color: #FDE82D;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.commitContent .top > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.commitContent .top1 {
    width: 100%;
    height: 50px;
}
.commitContent label {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}
.top1 label {
    width: 500px;

}
.top1 label:nth-of-type(2) {
    width: 470px;
    margin-right: 30px;
}

label input {
    border: 3px solid #D3D3D3;
}
.top1 label input {
    width: 250px;
    height: 30px;
    margin-left: 30px;
    
}
.commitContent .top2 {
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.top2 label input {
    width: 675px;
    height: 30px;
    margin-left: 30px;
}


.content .bottom {
    width: 100%;
    height: 70%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em;
}
.bottom_box {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid lightgray;
}
.bottom_box > div {
    width: 100%;
    display: flex;
    justify-content: center;
}
.bottom_box1 {
    font-weight: 600;
}
.bottom_box1 > div {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.bottom_box1 > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    
}
.bottom_box1 > div .box1 {
    flex: 1;
}
.bottom_box1 > div .box2 {
    align-items: flex-start;
    justify-content: left;
    flex: 4;
    padding: 20px 0 0 20px;
    box-sizing: border-box;
    font-weight: 400;
    position: relative;
}
.left_box {
    border-right: 1px solid lightgray;
}
.right_box > div
.bottom_box2 {
    height: 150px;
}
.payment_line {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.payment_line > div {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-bottom: none;
}
.commitContent .payment_line > div > span {
    flex: 1;
    text-align: center;
}
.commitContent .payment_line > div:nth-of-type(1) {
	flex: 1;
    background-color: #FDE82D;
    font-weight: 600;
}
.commitContent .payment_line > div:nth-of-type(2) {
	flex: 1;
    font-weight: 600;
}

.btn {
    width: 100%;
/*     height: 100px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn input {
    width: 170px;
    height: 40px;
    border: 3px solid #FDE82D;
    background-color: #fff;
    font-size: 1.1em;
    font-weight: 600;
}
.bottom_box1 .box2 textarea {
	border: none;
	padding:20px;
	box-sizing:border-box;
	margin: 0;
	border: 0;
	position : absolute;
	width: 100%;
	height: 100%;
	resize: none;
    left: 0;
    top: 0;
    font-size: 1em;
    font-weight: bold; 
    overflow: hidden;
    font-family:'Noto Sans KR', sans-serif;
    
} 

