@font-face {
    font-family:'Noto Sans KR', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
}
html, body {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    font-family:'Noto Sans KR', sans-serif;
}
a {
    text-decoration: none;
    color: black;
    padding: 0 30px;
    box-sizing: border-box;
}
ul{
	display:flex;
	margin:0 0 0 15px;
	padding:0;
	
}
li {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 5px 20px;
	background: #ececec;
}
li:nth-child(1) {
	margin-left : 20px;
}
.side-bar {
    width: 400px;
    height: 100vh;
    border-right: 2px solid gray;
}
.side-bar .profile {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: #ffffff;
}

.profile .picture {
    width: 200px;
    height: 200px;
    position: relative;
}
.profile .picture img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.set{
    width: 35px;
    height: 35px;
    position: absolute;
    left: 85%;
    top: 5%;
    border-radius: 50%;
    border: 1px solid #cecece;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.set img {
    width: 80%;
    height: 80%;
    filter: invert(0.5);
}
.profile .name {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
.profile .logout {
    position: absolute;
    bottom: 25px;
}
.menu_bar {
    display: flex;
    flex-direction: column;
    background-color: #FFFEE2;
}
.menu_bar > div {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}


.menu_bar > span > a {
    display: block;
    padding: 30px;
}


.menu_bar .sub_menu {
    width: 100%;
    height: 160px;
    flex-direction: column;
    display: none;
}

.menu_bar .sub_menu.active {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    
}
.menu_bar .sub_menu span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    box-sizing: border-box;
}
.regist > a {
    padding-bottom: 10px;
    box-sizing: border-box;
}
.menu_bar .sub_menu:nth-of-type(1) {
    height: 100px;
}
.menu_bar .sub_menu:nth-of-type(2) {
    height: 120px;
}
.menu_bar .sub_menu:nth-of-type(3) {
    height: 200px;
}

.main {
	width: 75vw;
    height: 100vh;
    margin:0 auto;
}

.main .wrap {
    width: 93%;
    border: 3px solid lightgrey;
    margin: 50px 0 15px 50px;
    background-color: #FFFEE2;
    /* overflow: hidden; */
    position: relative;
}

.wrap  h2{
    text-align: left;
    height: 50px;
    margin: 20px 0 0 30px;
    font-size: 1.8rem;
}

.wrap .search_bar {
    width: 95%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF282;
}

.search_bar .search_box {
    display: flex;
}
.search_box select{
	border: 3px solid #D3D3D3;
/* 	text-align: center; */

}
.search_box input {
    width: 450px;
    height: 35px;
    border: 3px solid #D3D3D3;
    margin-left: 20px;
}

.search_btn {
    width: 100px;
    height: 35px;
}
.search_btn button {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border: 3px solid lightgray;
    border-radius: 5px;
}

.content {
    width: 95%;
    display: flex;
    margin: 0 auto;
    margin-bottom:30px;
    flex-direction: column; 
    background:#fff;
    border: 2px solid #D3D3D3;
}

.content > div {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content > div  span{
    display: block;
    width: 150px;
    text-align: center;
    margin-right: 10px;
}
.content > div  span:nth-of-type(1) {
    flex: 1;
}
.content > div  span:nth-of-type(2),
.content > div  span:nth-of-type(5) {
    flex: 1;
}
.content > div  span:nth-of-type(3) {
    flex: 2;
}
.content > div  span:nth-of-type(4) {
    flex: 4;
}
.content > div.active {
	display:flex;
}

.content > div {
	display: none;
	
}
.wrap .content .local_nav {
	font-weight: bold;
	border-bottom: 2px solid black;
	display:flex;
}
.tab_btn li {	
	text-align: center;
    border-right: 1px solid #ececec;
    background: #f6f6f6;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    font-weight:bold;
}
.tab_btn li.active {
	background: #fff;
    border-bottom: 5px solid #FFF282;
}
	
.pagingArea button {
	background-color:#FFF282;
	color:black;
	font-weight:bold;
	border: none;
	cursor: pointer;
}
.content > .active {
	cursor:pointer;
}
.commitMain {
	position: absolute;
	left:60%;
	top:40%;
	transform: translate(-50%,-50%);
	width: 60vw;
    height: 80vh;
    margin: 0 auto;
}
.commitMain #fm2 {
	height: 80vh;
}
.commitContent .payment_line > div > span {
    flex: 1;
    text-align: center;
}
.commitContent .payment_line > div:nth-of-type(1) {
	flex: 1;
    background-color: #FDE82D;
    font-weight: 600;
}
.commitContent .payment_line > div:nth-of-type(2) {
	flex: 1;
    font-weight: 600;
}

.page {
	display:none;
}

.page.active {
	display:block;
}