body, html {
    padding: 0;
    margin: 0;
}

.wrap {
    width: 500px;
    height: 100px;
    padding: 0 20px;
    box-sizing: border-box;
    background: black;
    position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}

#dept,
#job {
    width: 80px;
    height: 30px;
}

.name {
    width: 120px;
    height: 30px;
}

#search {
    width:80px;
    height: 30px;
}