
body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    overflow: hidden;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.si {
    color: #c7c7c7;
}
tr {
    border: #d5d5d5;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: 1px solid #e1e1e1;

}
.profile{
    margin-top: 50px;
    position: relative;
}
.img {
    width: 200px;
    height: 200px;
    background: yellow;
    border-radius: 50%;
    overflow: hidden;
}
.img img{
    width: 100%;
    height: 100%;
}
.set{
    width: 35px;
    height: 35px;
    position: absolute;
    left: 85%;
    top: 5%;
    border-radius: 50%;
    border: 1px solid #cecece;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.set img {
    width: 80%;
    height: 80%;
    filter: invert(0.5);
}
.profile p {
    font-weight: bold;
}
.profile span {
    font-size: 0.9em;
    color: #3a3a3a;
    display: block;
    margin-bottom: 30px;
}
.profile a {
    display: block;
    margin-bottom: 30px;
}
.menu{
    width: 100%;
}
.menu div{
    height: 80px;
    background: #FFFEE2;
    padding-top: 30px;
    box-sizing: border-box;
}
.menu div:nth-child(5){
    background: #FFF282;
}
.menu .sub-menu{
    height: 180px;
    background: #fff;
    padding: 0;
    display: none;
}
.menu .sub-menu.active{
    display: block;
}

/*  section */


.sectionBox{
    flex: 1;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
}
.scheduleBox {
    width: 800px;
    height: 100%;
    margin: 0 auto;
}
.container02 {
    width: 100%;
    height: 770px;
    border: 1px solid rgba(208, 208, 208, 0.81);
    margin-top: 90px;

}


#date {
    font-size: 30px;
}

.section02 {
    margin: 20px 0;
}

.section03 {
    margin-top: 8px;
}

.section03 > label {
    font-size: 14px;
    margin-left:  160px;
}
.section03 > input {
    padding: 0;
    margin-left: 10px;
    width: 300px;
    height: 30px;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid black;
}


.section05 {
    margin: 8px 0;

}

.section05 > span {
    font-size: 20px;
    margin-left: 280px;
}


.section05 #ScAdd2 {
    background: #fff7c1;
    padding: 3px 30px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #fafaa4;
    font-size: 18px;
}

.section05 .a2 {
    background: #d7d7d7;
    padding: 2px 30px;
    border-radius: 10px;
    margin-left: 30px;
}


.SubAddBar {
    width: 350px;
    height: 200px;
    margin: 200px 0 0 260px;
    background: #ffffff;
    position: absolute;
    border-radius: 10px;
    border: 1px solid #8d8d8d;
    display: none;
    z-index: 9999;
}

.SubAddBar > h3 {
    color: #000;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
}

.SubAddBar > span {
    font-size:16px;
    background: #fff;
    padding: 2px 20px;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
    margin: 30px 0 0 135px;
    display: inline-block;
}
<!--


#external-events {
    display: none;
}

#calendar-container {
    position: relative;
    z-index: 1;
    font-size: 14px;
}

#calendar {
    max-width: 1100px;
    margin: 20px auto;

}